streamlit==1.40.1
torch==2.4.0
torchvision==0.19.0
pillow==10.4.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
tqdm==4.67.1
easydict==1.13
opencv-python-headless==4.10.0.84
scipy==1.14.1
rembg==2.0.60
onnxruntime==1.20.1
trimesh==4.5.3
plyfile==1.1.2
transformers==4.46.3
diffusers==0.31.0
accelerate==1.2.1
huggingface-hub==0.35.3
safetensors==0.6.2
pyyaml==6.0.3
scikit-image==0.25.2
matplotlib==3.10.7
numba==0.62.1
git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8
